*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  html,body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items:center;
    background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  }
  .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin: 5px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: #333;
    cursor: pointer;
    background: whitesmoke;
    transition: all 0.3s ease-out;
    
  }
  .button:hover{
    width: 200px;
  }
  .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 1.5s ease-in;
  }
  .button:nth-child(1):hover .icon{
    background: #4267B2;
  }
  .button:nth-child(3):hover .icon{
    background: #1DA1F2;
  }
  .button:nth-child(4):hover .icon{
    background: #f52067;
  }
  .button:nth-child(2):hover .icon{
    background: #f9fd01;
  }  .button:nth-child(5):hover .icon{
    background: #272222;
  }
   .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
   .button:hover .icon i{
    color: #ffffff;
  }
   .button span{
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    transition: all 0.25s ease-out;
  }
   .button:nth-child(1) span{
    color: #4267B2;
  }
   .button:nth-child(3) span{
    color: #1DA1F2;
  }
   .button:nth-child(4) span{
    color: #db084e;
  }
   .button:nth-child(2) span{
    color: #f4e300;
  }
   .button:nth-child(5) span{
    color: #150f0f;
  }